<h1> Artist Page </h1>

<p><%= @artist.name %> <p>

<h3> Song List: <h3>
<p><%= @artist.song_count%> song</p>
<ul>
<% @artist.songs.each do |song|%>
    <li> <%= song.title%> </li>
    <% end %>
</ul>